<h1>
  SHOW ARTICLE
</h1>

<P>
  Title: <%= @article.title %>
</P>
<p>
  Description: <%= @article.description %>
</p>

<%= link_to "Edit this article", edit_article_path(@article) %> |
<%= link_to "Show all articles", articles_path %>
